streamlit
langgraph
langchain
langchain-community
langchain-tavily
langchain-core
pypdf
docx2txt
unstructured
pydantic
typing-extensions
cohere
PyMuPDF
python-docx
python-dotenv
faiss-cpu
langchain-google-genai
langchain-huggingface
sentence-transformers

