streamlit
langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
langchain-core
langchain-cohere
pypdf
docx2txt
unstructured
pydantic
typing-extensions
cohere
PyMuPDF
python-docx
python-dotenv
faiss-cpu

